<div class="h-100 p-5 text-white bg-dark rounded-3">
    <div class="container">
        <h1 class="display-4">Página no encontrado</h1>
        <p class="lead">Lo siento página solicitado no encontrado.</p>
        <hr class="my-4">
    </div>
</div>
