<div class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam nulla repellendus maiores ut dignissimos. Porro optio voluptatem, perspiciatis excepturi ratione itaque explicabo distinctio eos unde rem amet quas omnis autem!</p>
    </div>
</div>