<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Nueva nota</h3>
    </div>
    <div class="card-body">
      <form action="/notes/new-note" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Titulo</label>
          <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            placeholder="Nota"
            aria-describedby="titleID"
            autofocus
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea
            class="form-control"
            name="description"
            placeholder="Descripción"
            id="description"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="d-grid grap-2">
          <button type="submit" class="btn btn-success">Crear nota</button>
        </div>
      </form>
    </div>
  </div>
</div>