<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h3>Cuenta | Inciar sesi칩n</h3>
      </div>
      <img
        src="/img/logo.png"
        class="logo rounded-circle mx-auto d-block m-4"
        alt="Logotipo"
      />
      <div class="card-body">
        <form action="/user/singin" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              aria-describedby="emailId"
              placeholder="Escribe tu correo"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contrase침a</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="Escribe tu contrase침a"
            />
          </div>
          <div class="d-grid grap-2">
            <button type="submit" class="btn btn-success">Iniciar sesi칩n</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>